button {
    background-color: #1f4068;
    border-width: 3px;
    border-style: double;
    border-color: #ece2fc;
    color: #ece2fc;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 10px 30px;
}

footer {
    background-color: #e4eafa;
    color: #ece2fc;
    text-align: center;
    font-size: 18px;
    padding: 30px;
    border-radius: 20px;
}