<br/>
<h1>NOTE APP</h1>
<hr/>

<div style="width: 100%; display: flex; flex-flow: column; justify-content: center; border: 1px solid white; border-radius: 10px; margin: 10px 0">
    <div style="width: 100%; display: flex; align-items: center; justify-content: space-between">
        <p style="">This is a <b>note taking</b> application...</p>
        <time>1403/8/23</time>
    </div>

    <div style="width: 100%; display: flex; align-items: center; justify-content: flex-end; gap: 10px">
        <button>Delete</button>
        <button> Edit</button>
    </div>
</div>

<div style="width: 100%; display: flex; flex-flow: column; justify-content: center; border: 1px solid white; border-radius: 10px; margin: 10px 0">
    <div style="width: 100%; display: flex; align-items: center; justify-content: space-between">
        <p style="">This is a <b>note taking</b> application...</p>
        <time>1403/8/23</time>
    </div>

    <div style="width: 100%; display: flex; align-items: center; justify-content: flex-end; gap: 10px">
        <button>Delete</button>
        <button> Edit</button>
    </div>
</div>

<div style="width: 100%; display: flex; flex-flow: column; justify-content: center; border: 1px solid white; border-radius: 10px; margin: 10px 0">
    <div style="width: 100%; display: flex; align-items: center; justify-content: space-between">
        <p style="">This is a <b>note taking</b> application...</p>
        <time>1403/8/23</time>
    </div>

    <div style="width: 100%; display: flex; align-items: center; justify-content: flex-end; gap: 10px">
        <button>Delete</button>
        <button> Edit</button>
    </div>
</div>