#container {
    display: flex;
    

}

.item{
    
    
    
    color: antiquewhite;
    justify-content:space-around;
    background-color: #f3f3f30e;
    padding: 10px;
    border-radius: 5px;
    border-width: 4px;
    border-color: white ;
    flex: 1;
}

.item:hover {
    background-color: #0000005e;
    color: #f782dabe ;
}

