
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NOTE APP!</title>
  
</head>
<body>
  <br/>
  <h1>NOTE APP</h1>
  <hr/>
  <p style="font-size: 35px;" >This is a <b>note taking</b> application...</p>
  <br>
  <time>1403/8/23</time>
  <br> 
  <br>
<button>Submit</button>
<button> Edit</button> 
  <br/> 
</body>
<footer> 
  <a href="mailto:parvanehun@gmail.com" target="">Click to send me an Email</a>
</footer>
  
</html>
