<p>add works!</p>

<style>
    #container {
        background: #333;
        color: aliceblue;
        display: flex; 
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
    }

    .item {
        display: flex;
        border: 1px solid gray;
        text-align: center;
        color: rgb(242, 242, 242);
        padding-left: 30px;
        padding-right: 30px;
        cursor: pointer;
    }

    .item:hover {
        background-color: #555;
    }
</style>

<div id="container">
    <h2>Note App!</h2>
    
    <div class="item">
        <h3>List</h3>
    </div>
</div>


<div style="color: black;">
    <div style="width: max-content; background-color: rgb(255, 255, 255);" *ngfor="let note of notes" >
        <h2>{{note.title}}</h2>
        <p>{{note.date}}</p>


    </div>

        <p style="font-size: x-large;">list works..</p>
</div>